body{
	background: #B20000;
	color: white;
	font-family: segoe UI;
	text-align: center;
}
#prompt{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left:0;
	background: black;
	padding:  10% 38%;
	opacity: 1;
}
.add-img{
	width: 12%;
	background-color: black;
	margin-left: 239px;
	margin-bottom: -40px;
	}
#input_area{
	opacity: 1 !important;
	
	width: 300px;
	background: rgb(24, 100, 24);
	color: white;
	font-family: segoe UI;
	padding: 10px 0 10px 5px;

}
input[type="text"]{
	opacity: 1;
	border-radius: 3px;
	border: 2px solid white;
	transition: 5s;
	width: 200px;
	text-align: center;
	font-size: 18pt;
	outline: none;
}
/*#table_area{
	margin-top: 20px;
	width: 100%;
	background: #B20000;
	color: white;
	font-family: segoe UI;
	padding: 10px 0 10px 5px;
}*/
select{
	width: 200px;
	border-radius: 4px;
	height: 30px;
	font-size: 15pt;
}
button{
	width: 200px;
	cursor: pointer;
	height: 50px;
	font-size: 20pt;
	background-color: white;
	color:  rgb(24, 100, 24);
	border-style: none;
	border-radius: 10px;
	transition: 1s;
}
button:hover{
background-color: rgb(27, 182, 27);
color:white;
}
#ng{
	height: 30px;
	width: 100%;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding-bottom: 5px;
}
#loader{
/*	visibility: hidden;*/
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border-top: 3px solid black
	border-right: 3px solid  white;
	border-left: 3px solid  white;
	border-bottom: 3px solid  black;
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-timing-function: linear;
}
@keyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}